#BioModule biolockj.module.diy.ForEachLoop AS TaxonomyAnalysis
#BioModule biolockj.module.diy.GenMod AS PathwayAnalysis
#BioModule biolockj.module.diy.GenMod AS Figure1
#BioModule biolockj.module.diy.GenMod AS Figure4
#BioModule biolockj.module.diy.GenMod AS Compare_sites

metadata.filePath=./meta/meta_master.txt
input.dirPaths=./input
pipeline.copyInput=Y

RF1=./resources/load.packages.R, ./resources/load.data.R
RF2=./resources/plot.R, ./resources/colors.R, ./resources/sample.selection.R
RF3=./resources/statistics.R, ./resources/analysis.R, ./resources/save.plot.R
RFunctions=${RF1}, ${RF2}, ${RF3}

genMod.launcher=Rscript

TaxonomyAnalysis.scriptPath=./scripts/run.taxonomy.analysis.R
TaxonomyAnalysis.resources=${RFunctions}
TaxonomyAnalysis.loopBy=phylum,class,order,family,genus,species

PathwayAnalysis.scriptPath=./scripts/run.pathway.analysis.R
PathwayAnalysis.resources=${RFunctions}

Figure1.scriptPath=./scripts/Figure1_and_2.R
Figure1.resources=${RFunctions}, ./resources/PrepareDataForFigures.R

Figure4.scriptPath=./scripts/Figure4.R
Figure4.resources=${RFunctions}, ./resources/PrepareDataForFigures.R

Compare_sites.scriptPath=./scripts/compare_sites.R
Compare_sites.resources=${RFunctions}, ./resources/PrepareDataForFigures.R
